@import "common";
@import "./vendor/theme";

.articles{
  width:998px;
  margin:30px auto;
  background-color: #fff;
  box-sizing: border-box;
  padding:20px;
  .title,.content{
    border-bottom: solid 1px #2CA6CB;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .title{
    color:#2CA6CB;
    font-size:26px;
    cursor: default;
    transition: all .3s linear;
    position: relative;
    &:hover{
      text-indent: 1em;
      color: #3cbaff;
    }
    .time{
      position: absolute;
      right: 0;
      bottom: 10px;
      font-size:14px;
    }
  }
  .content{
    line-height: 30px;
    text-indent: 2em;
    font-size:16px;
    // 文章样式的设置
    // 标题的设置
    h1,h2,h3,h4,h5,h6{
      padding:10px;
      font-weight:normal;
      text-indent: 0;
      background-color: #eee;
      margin:10px 0;
      border-left:10px solid #3cbaff;
    }
    blockquote,p{
      padding:0;
      margin:0;
    }
    p{
      line-height:35px;
      margin:10px 0px;
      img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    blockquote{
      background-color:#F7F7F7;
      padding:10px;
      border-left:solid 10px #ccc;
    }
    pre{
      display: block;
    }
  }
}
