@import "common";

// 主题部分的样式
#container{
  width:998px;
  margin:30px auto;
  #content{
     width:720px;
     float: left;
     background:#ccc;
     .items{
       padding:20px 20px 20px 10px;
       box-sizing: border-box;
       background-color:#fff;
       border-left:solid 10px #bcbcbc;
       margin-bottom:2px;
      .item-title{
        font-size:26px;
        margin-bottom:10px;
        a{
          color:#2CA6CB;
          display: block;
          transition: all .3s linear;
          &:hover{
            text-indent: 0.5em;
            color:#3cbaff;
          }
        }
      }
      .item-content{
        color:#8B8383;
        line-height:30px;
      }
      .item-time{
        font-size:14px;
        color:#8B8383;
        margin-top:10px;
      }
     }
  }
  #category{
    width:240px;
    float: right;
    background:#fff;
    height:500px;
  }
}
